@use '@carbon/layout';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.wrapper {
  margin: layout.$spacing-05;
  display: flex;
  flex-direction: column;
}
