.widget {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
}

.widgetNotFound {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
}

.widgetHeader {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.widgetBody {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
}

.title {
  font-weight: 600;
}

.label {
  font-size: 0.75rem;
  color: #525252;
}

.link {
  font-size: 0.75rem;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.result {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;

  > :nth-child(2) {
    font-weight: 300;
    color: #525252;
  }
}
